<div class="row" >
    <div class="col-md-12">
        <p style="font-weight: bold;font-size:14px;">Patients List</p>
        <p style="color:#cccccc;">Registered patients.</p>
        <hr style="border: 1px solid #cccccc;"/>
    </div>
    <div class="col-md-12">
        <table class="table table-hover" datatable="" >
            <thead>
            <tr>
                <th>Med. Rec. NO.</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Marital Status</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="patient in reception.patients"></tr>
            </tbody>
        </table>
    </div>
</div>