<form class="">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="insurance_company">Insurance Company</label>
                <input type="text" class="form-control" id="insurance_company" placeholder="Insurance Company">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="policy_number">Policy Number</label>
                <input type="text" class="form-control" id="policy_number" placeholder="Policy Number">
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="subscriber_name">Subscriber Name</label>
                <input type="text" class="form-control" id="subscriber_name" placeholder="Subscriber Name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="relation">Relation</label>
                <input type="text" class="form-control" id="relation" placeholder="Relation">
            </div>
        </div>
    </div>


</form>