<form class="">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="occupation">Occupation</label>
                <input type="text" class="form-control" id="occupation" placeholder="Occupation">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="employer">Employer</label>
                <input type="text" class="form-control" id="employer" placeholder="Employer">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="employer_phone">Employer Phone</label>
                <input type="text" class="form-control" id="employer_phone" placeholder="Employer Phone">
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" placeholder="Location">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="retired">Retired</label>
                <input type="text" class="form-control" id="retired" placeholder="Retired">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="unemployed">Unemployed</label>
                <input type="text" class="form-control" id="unemployed" placeholder="Unemployed">
            </div>
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="home_phone">Home Phone</label>
                <input type="text" class="form-control" id="home_phone" placeholder="Home Phone">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="mobile_number">Mobile Number</label>
                <input type="text" class="form-control" id="mobile_number" placeholder="Mobile Number">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="other_number">Other Number</label>
                <input type="text" class="form-control" id="other_number" placeholder="Other Number">
            </div>
        </div>
    </div>


</form>