<form class="">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" placeholder="First Name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" placeholder="Last Name">
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="relationship">Relationship</label>
                <input type="text" class="form-control" id="relationship" placeholder="Relationship">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="phone_number">Phone Number</label>
                <input type="text" class="form-control" id="phone_number" placeholder="Phone Number">
            </div>
        </div>
    </div>
<a class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Create</a>

</form>