<form class="" ng-submit="reception.getNextForm()">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control"  id="first_name" placeholder="First Name">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="middle_name">Middle Name</label>
                <input type="text" class="form-control" id="middle_name" placeholder="Middle Name">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" placeholder="Last Name">
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="gender">Gender</label>
                <input type="text" class="form-control" id="gender" placeholder="Gender">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="marital_status">Marital Status</label>
                <input type="text" class="form-control" id="marital_status" placeholder="Marital Status">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="date_of_birth">Date Of Birth</label>
                <input type="text" class="form-control" id="date_of_birth" placeholder="Date Of Birth">
            </div>
        </div>
    </div>


</form>