<form class="">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="po_box">P.O.BOX</label>
                <input type="text" class="form-control" id="po_box" placeholder="P.O.BOX">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" class="form-control" id="street" placeholder="Street">
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="district">District</label>
                <input type="text" class="form-control" id="district" placeholder="District">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="region">Region</label>
                <input type="text" class="form-control" id="region" placeholder="Region">
            </div>
        </div>
    </div>


</form>